
<div class="card">
    <div class="card-header uppercase">
        <span class="titulo_pagina"><i class="far fa-calendar-alt"></i> @ViewBag.Title</span>
    </div>

    <div class="card-body">
        <form id="formularioAddRegistro">

            <input type="hidden" name="contador" id="contador" value="0" />

            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="Nome" class="required">Cliente</label>
                        <select class="form-control" id="CodClienteList" name="CodCliente">
                            <option value="">-Selecione-</option>
                        </select>
                    </div>
                </div>

                @*<div class="col-lg-2">
                        <div class="form-group">
                            <label for="Data" class="required">Data</label>
                            <input type="text" name="Data" class="form-control datepicker" id="Data" placeholder="__/__/____">
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="Hora" class="required">Horário</label>
                            <select class="form-control" id="HoraLista" name="Hora">
                                <option value="">-Selecione-</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="Duracao" class="Duracao required">Duração (minutos)</label> <br />
                            <input type="radio" name="Duracao" value="" /> 30  &nbsp; <input type="radio" name="Duracao" value="60" /> 60
                        </div>
                    </div>*@
            </div>

            <div class="agendamento">
                <hr class="hr-div-info">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="Data" class="required">Data</label>
                            <input type="text" name="Data[]" class="form-control datepicker input_data" id="Data" placeholder="__/__/____">
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="Hora" class="required">Horário</label>
                            <select class="form-control input_hora" id="HoraLista" name="Hora[]">
                                <option value="">-Selecione-</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="form-group">
                            <label for="Duracao" class="Duracao required">Duração (minutos)</label> <br />
                            <select class="form-control horario_principal input_duracao" onchange="verificaHorarioAgendamento();" id="Duracao" name="Duracao[]">
                                <option value="">-Selecione-</option>
                                <option value="30">30</option>
                                <option value="60">60</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="form-group">
                            <div class="btn btn-primary button-add-massagem disabled" onclick="adicionarNovoAgendamento()"><i class="fas fa-plus"></i> Adicionar</div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="outros_agendamentos"></div>

            <div class="row lista-errors-form" id="lista-msgs-error">
                <div class="col-lg-12">
                </div>
            </div>
        </form>
    </div>

    <div class="card-footer bg-transparent">
        <button class="btn btn-info" id="btSalvaRegistro" type="button"><i class="fas fa-save"></i> Salvar</button>
        <button class="btn btn-danger" id="btLimparFormulario" onclick="limparFormularioCadastro(); removerNovaMassagem();" type="reset"><i class="far fa-trash-alt"></i> Limpar</button>
        <a href="javascript: history.go(-1)" class="btn btn-secondary "><i class="fas fa-arrow-circle-left"></i> Voltar</a>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/Scripts/Sistema/Massagens/configFormCadastro.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            carregarFormularioAgendamento();
        });
    </script>
}



