<div class="card">

    <div class="card-header uppercase">
        <span class="titulo_pagina"><i class="fas fa-user-tie"></i> @ViewBag.Title</span>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-lg-2" style="border: 1px solid #fff;">
                <div class="text-center">
                    <p><img src="~/Images/avatar.jpg" class="rounded-circle img-thumbnail" alt="" width="300" height="300"></p>
                </div>
            </div>

            <div class="col-lg-10" style="border: 1px solid #fff;">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <span><strong>Cliente:</strong></span> <br />
                            <span class="titulo-visualizar uppercase" id="NomeCliente"></span>
                        </div>
                    </div>
                </div>

                <hr class="hr-div-info" />
                <div class="row">

                    <div class="col-lg-4">
                        <div class="form-group">
                            <span><strong>CPF:</strong></span> <br />
                            <span id="CPFCliente"></span>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-group">
                            <span><strong>Telefone:</strong></span> <br />
                            <span id="TelefoneCliente"></span>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-group">
                            <span><strong>Celular:</strong></span> <br />
                            <span id="CelularCliente"></span>
                        </div>
                    </div>


                </div>
                <hr class="hr-div-info" />

                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <span><strong>Endereço:</strong></span> <br />
                            <span id="EnderecoCliente"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="card-footer bg-transparent" id="funcoes-cliente">
        <a href="@Url.Action("Alterar", "Cliente", new { @id = 1 })" class="btn btn-primary"><i class="fas fa-user-edit"></i> Alterar</a>
        <button data-codcliente="1" class="btn btn-danger js-bt-ativardesativar" ><i class="far fa-trash-alt"></i> Excluir </button>
        <a href="javascript: history.go(-1)" class="btn btn-secondary "><i class="fas fa-arrow-circle-left"></i> Voltar</a>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/Scripts/Sistema/Clientes/configFormCadastro.js"></script>
    <script type="text/javascript" src="~/Scripts/Sistema/Clientes/configDatatable.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            var codCliente = '@Model';

            // carrega datatable
            carregarDadosCliente(codCliente);
        });
    </script>
}
