@{
    ViewBag.Title = "CLINISYS";
}

<div class="jumbotron text-center">
    <h1>CLINISYS</h1>
    <p class="lead">Sistema Gerenciador de Clientes e Agendamento de Massagens.</p><br />
    <p><a href="@Url.Action("Listar", "Cliente", new { Area = "Clinica" })" class="btn btn-primary btn-lg">ENTRAR &raquo;</a></p>
    <br />
    Desenvolvido por: <b>Jones Guidini</b><br />
    <a href="http://www.jonesguidini.com" target="_blank">www.jonesguidini.com</a> <br />
    <a href="https://www.linkedin.com/in/jonesguidini/"  target="_blank">www.linkedin.com/in/jonesguidini/</a>
</div>

