.dual-list .list-group {
    margin-top: 8px;
}

.list-left li, .list-right li {
    cursor: pointer;
}

.list-arrows {
    padding-top: 100px;
}

    .list-arrows button {
        margin-bottom: 20px;
    }

.list-group-item.active {
    border-color: #fff !important;
    background: #7c9bbf;
}

    .list-group-item.active b {
        color: #fff;
    }

.list-group-item b {
    font-size: 13px;
    color: #3d71b1;
}

.scroll-delegados {
    height: 350px;
    overflow: auto;
}
