body {
    padding-top: 50px !important;
    padding-bottom: 20px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    background: #dae6e6;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.link-ativo {
    background: #4f9aea;
    /*-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;*/
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.error {
    color: red;
}

.form-control.error {
    border: 1px solid red;
}

.alert {
    margin-bottom: 4px;
}

.form-group label {
    font-weight: 600;
    color: #121212;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 6px;
    background: #5a7f98;
    text-align: center;
    color: #fff;
}

/*.lista-errors-form {
    margin-bottom: 10px;
}*/

.message-error {
    color: red;
}

.cx-title-page {
    font-size: 26px;
    font-weight: bold;
    color: #101010;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.uppercase {
    text-transform: uppercase;
}

.desativar-linha {
    background: #ccc;
    margin: -6px;
    padding: 6px;
}

.desativar-linha a {
    color: #8e8e8e;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

.hr-div-info {
    margin: 0px;
    margin-bottom: 15px;
}

.custom_background {
    background: rgba(255, 255, 255, 0.8);
    justify-content: center !important;
}

.titulo_pagina {
    font-size: 22px;
    font-weight: bold;
}

.titulo_pagina_delegado {
    font-size: 20px;
    font-weight: bold;
}

.link-sessao-delegado {
    font-size: 22px;
    font-weight: 550;
}

#sessoes {
    cursor: pointer;
}

.cx-presenca-todos-delegados {
    background: #b40b0b;
    margin-top: 10px;
    width: 100%;
    color: #fff;
    font-size: 16px;
    padding: 6px;
}

.titulo_adicionar_delegado_sessao {
    font-size: 18px;
    font-weight: bold;
}

/* CONFIGURAÇÕES DATATABLE */

.btn-cadastrar-datatable {
}

.div-options-datatable {
    margin-bottom: 10px;
    margin-top: 0px;
    float: left;
}

    .div-options-datatable div {
        float: left;
        margin-right: 10px;
    }

.bt-regs-desativado {
    margin-top: 6px;
}

.dt-buttons {
    height: 1px;
}

div.dataTables_paginate {
    float: right;
    margin: 0;
}

.dataTables_info {
    float: left;
    margin: 0;
}

.dataTable td {
    padding: 6px;
}
/* fim CONFIGURAÇÕES DATATABLE*/
.breadcrumb {
    background: none;
    padding: 0px;
}

.breadcrumb-box {
    padding-top: 15px;
    margin-top: 5px;
    height: 55px;
    padding-bottom: 1px;
}

*[hidden] {
    display: none;
}

input, select, textarea {
    max-width: none;
}

/*esconde selected2 value da lista após selecionado*/
.select2-results__option[aria-selected=true] {
    display: none;
}

/*#lista-bts-visualizar a, button {
    margin-left: 5px !important;
}*/

@media all and (max-width: 800px) {


    #lista-bts-visualizar, a, button, div > nav {
        width: 100%;
        margin-top: 4px;
    }

    .card-header {
        text-align: center;
    }
}

.cx-candidatos-cadastro {
    border: 1px dashed #ccc;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cx-candidatos {
    padding-top: 0px;
    padding-bottom: 20px;
}

.nome-candidato {
    font-weight: 600;
    width: 88%;
    background: #fff;
    border: 1px solid #b9b499;
    padding: 6px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    text-align: center;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

.nome-candidato-andamento {
    width: 100%;
    /*background: #ccc;*/
    border: 1px solid #bdbdbd;
    padding: 6px;
    margin-top: 8px;
    text-align: center;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

.cx-candidatos-cadastro-bt {
    margin: 66px 0px 66px 0px;
}



#bt-new-candidato {
    position: absolute;
    top: 35%;
    text-align: center;
    width: 100%;
    margin-left: -10px;
}

    #bt-new-candidato a:active, a:focus {
        outline: none;
        ie-dummy: expression(this.hideFocus=true);
    }

.fa-user-plus:hover {
    color: #7a96d9;
}

.border-user-add {
    color: #2661aa;
}

.bt-ver-candidato {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 4px 10px 4px 10px;
    color: #fff;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.bt-close-candidato {
    background-color: red;
    position: absolute;
    top: 0px;
    right: 17px;
    padding: 4px 10px 4px 10px;
    color: #fff;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    margin-right: -2px;
}

.cx-candidatos-lista {
    width: 100%;
    padding: 20px 0px 20px 0px;
    height: 250px;
    background: #e5e5c8;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

    .cx-candidatos-lista a {
        text-decoration: none;
        color: #000;
    }

        .cx-candidatos-lista a:hover {
            text-decoration: none;
            color: #1d5aae;
        }

.cx-candidatos-lista-selected {
    width: 100%;
    padding: 20px 0px 20px 0px;
    height: 250px;
    background: #2f5672;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#cx-lista-delegados-cantidatos {
    padding: 10px 0px 10px 0px;
}

.hide {
    display: none;
}

.linha-desativada-datatable {
    background: #dbdbdb;
    border: 1px solid #fff !important;
    color: #6c757d;
}

    .linha-desativada-datatable a {
        text-decoration: none;
        color: #474747;
    }

        .linha-desativada-datatable a:hover {
            text-decoration: underline;
            color: #474747;
        }

    .linha-desativada-datatable btn {
        background: #c4c4c4;
    }

.align-center {
    text-align: center;
}

.titulo-visualizar {
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: bold;
    /*font-style: italic;*/
    color: #4496bf;
}

.margin-bottom-cxs {
    margin-bottom: 20px;
}

/*   */

.info-andamento-votacao {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
}

.cx-resultado-candidato {
    width: 100%;
    background: #fcb85b;
    margin-top: -19px;
    margin-bottom: 20px;
    padding: 6px;
    font-size: 20px;
    text-align: center;
    -moz-border-radius-bottomleft: 7px;
    -webkit-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomleft: 7px;
}

.porcentagem_votos {
    text-align: right;
    width: 43%;
    font-size: 55px;
    font-weight: bold;
    padding: 0px !important;
}

.info_votos {
    width: 60%;
    font-size: 17px;
    padding: 0px !important;
}

.cx-candidatos-comissao-nomeacao {
    width: 100%;
    text-align: center;
    border-right: 2px solid #bbbbbb;
    border-bottom: 2px solid #bbbbbb;
    padding: 10px;
    margin-bottom: 15px;
    background: #dedede;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

.bt-confirmar-presenca-delegado {
    width: 100%;
    margin-top: 6px;
    margin-bottom: 6px;
}

.info-bt-confirmar-presenca-delegado {
    font-size: 15px;
}

.foto-delegado-sessao {
    width: 150px;
    height: 150px;
}


.btGrupoDelegado {
    border: 1px solid #ccc;
    padding: 0px;
    margin-top: 4px;
}

/*@media (max-width: 500px) {
    .foto-delegado-sessao {
        width: 100px;
        height: 100px;
    }
}

@media (min-width: 600px) {
    .foto-delegado-sessao {
        width: 150px;
        height: 150px;
    }
}*/
/*ajustes  boostrap*/
.table .thead-dark th {
    color: #000;
    background-color: #bcd5dd;
    border-color: #fff;
    font-weight: 600;
}

.jumbotron {
    background-color: #fff;
}

.jumbotron {
    padding-bottom: 40px;
    padding-top: 40px;
}

.badge-chamada-encerrada {
    color: #fff;
    background-color: #d33806;
}

@media (min-width: 992px) {
    .modal-lg {
        max-width: 1000px;
    }
}

label.required:after {
    content: ' *';
    color: #c33b3b;
    font-weight: bold;
}


.lista-associacoes .card-header {
    padding: 0px !important;
}

.tabela-delegados-grupo td {
    padding: 0px;
    margin-bottom: -10px;
}

    .tabela-delegados-grupo td label {
        padding: 6px 6px 6px 10px;
        margin: 0px;
        cursor: pointer;
        width: 100%;
    }


.modal-dialog.modal-800 {
    width: 1200px !important;
}

.button-add-massagem, .button-remove-massagem {
    margin-top: 32px;
    cursor: pointer;
}


